# Karli Dean: Exploratory Data Analysis Project

### Author Name: Karli Dean
### Purpose/Objective: Implementing Jupyter Notebook to perform Exploratory Data Analysis (EDA) using pandas and other tools.
### Date: 09 - 16 - 2025

## 1. Imports

In [3]:
# These are package imports from the Python Library
import pandas as pd
import seaborn as sns
import matplotlib

# Axes object (a basic plot type returned by Seaborn)
from matplotlib.axes import Axes

## 2. Loading the Data

In [4]:
# Loading the Iris Dataset into a pandas DataFrame
iris_df: pd.DataFrame = sns.load_dataset('iris')

#Listing the Column Names
iris_df.columns

# Inspect the First Few Rows of the DataFrame
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 3. Initial Data Inspection

In [5]:
# Looking at the head of the data to become familiar visually
iris_df.head(10)

# Inspecting the shape of the DataFrame with .shape attribute
# Shapes are tuples with a count of rows and columns in the DataFrame
iris_df.shape

# Inspecting the data types of the columns with .dtypes
# These are returned as pandas (pd) values
iris_df.dtypes

# Inspecting the data types of the columns with the .info() method
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## 4. Initial Descriptive Statistics

In [6]:
# Inspect summary statistics for numerical columns
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 5. Initial Data Distribution for Numerical Columns

## 6. Initial Data Distribution for Categorical Columns

## 7. Initial Data Transformation and Feature Engineering

## 8. Initial Visualizations

## 9. Initial Insights

## 10. Annotate Your Notebook for Storytelling and Presentation